<template>
    <div>
        <h1>Accounts Management</h1>

        <!--<button id="show-modal" @click="showModal = true">Add New Account</button>
        <modal v-if="showModal" @close="showModal = false">-->

        <table v-if="accountlist.length" class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Commenced</th>
                    <th>Ceased</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="account in accountlist">
                    <td>{{ account.accountId }}</td>
                    <td>{{ account.accountName }}</td>
                    <td><time>{{ account.commence_Formatted }}</time></td>
                    <td><time>{{ account.cease_Formatted }}</time></td>
                </tr>
            </tbody>
        </table>

        <p v-else><em>Loading...</em></p>
    </div>
</template>

<script src="./accountList.ts"></script>
